@model IMS.Models.Models.UserPrivilege

<div class="container border p-3" style="margin-top:65px;">
    <div class="row">
        <div class="col-12 p-3">
            <h2 class="text-primary text-center">User Privilege</h2>
        </div>
    </div>

    <select id="set_user_permission" onchange="loadUserDetails()" asp-for="Set_User_Permission" asp-items="@Model.UserListDB" class="form-control">
        <option disabled selected>--Select User--</option>
    </select>
    <div id="user_details">
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $('#set_user_permission').select2({
            selectOnClose: true
        });

        function loadUserDetails() {
            var user_Id = $('#set_user_permission').val();
            $.ajax({
                url: "/Admin/UserPrivilege/UserDetails",
                type: "GET",
                data: {
                    id: user_Id,
                },
                success: function (response) {
                    $('#user_details').html(response)
                    var input_field = document.getElementsByClassName('checkedMenu');
                    menulist = [];
                    for (var i = 0; i < input_field.length; i++) {
                        var selected_menu = input_field[i].id;
                        menulist.push(selected_menu);
                    }
                    $('#userMenuList').val(menulist);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        menulist = [];
        function SelectedMenuId(menuId) {
            if (menulist.includes(menuId)) {
                //find the exist number and remove
                menulist = menulist.filter(function (item) {
                    return item !== menuId
                });
            }
            else {
                menulist.push(menuId);
            }

            $('#userMenuList').val(menulist);
        }

        function SaveUserPrivilege() {
            var userId = $("#set_user_permission").val();
            var menuList_Id = $('#userMenuList').val();

            $.ajax({
                url: "/Admin/UserPrivilege/AddUserPrivilege",
                type: "POST",
                data: {
                    userId: userId,
                    menuList_Id: menuList_Id,
                },
                success: function (res) {
                    if (res.success == true) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Permissions Changed!',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "Something went wrong! Try again."
                        });
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
}